@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: -90px;
    width:300px;
}

iframe#filme {
    display: block;
    position: relative;
    left: 85px;
    top: -710px;
    width: 450px;
    height: 300px;
}